<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!--&lt;!&ndash;自动扫描&ndash;&gt;
    <context:component-scan base-package="com.xpcomrade.study.snpzrpc"/>-->

    <!--&lt;!&ndash;资源文件&ndash;&gt;
    <context:property-placeholder location="classpath:rpc-client-config.properties"/>-->

    <!-- 配置 RPC 服务器 -->
    <bean id="rpcProxy" class="com.xpcomrade.study.snpzrpc.client.RpcProxy">
        <constructor-arg name="host" value="127.0.0.1"/>
        <constructor-arg name="port" value="8000"/>
    </bean>

</beans>